note
 display: flex;
                                                                align-self: center;
                                                                line-height: 1.35;
                                                                color: white;
                                                                font-size: 4.5rem;
                                                                justify-self: center;
                                                                font-weight: 100;